:root {
    --accent: #e34141;
    --purple: #bfb2e2;
    --plum: #883677;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #242424;
    background-color: #f5f5f5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

a {
    font-weight: 500;
    color: var(--accent);
    text-decoration: inherit;
    position: relative;
}

a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 100%;
    height: 30%;
    background-color: var(--purple);
    z-index: -1;
    transition: transform 0.2s;
    transform: scaleX(0);
    transform-origin: left center;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a:hover:before {
    transform: scaleX(1);
}

a.router-link-exact-active {
    color: var(--plum);
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}
